@import "../common/variables";

.main_header {
  @include clearfix;
  background-image: url('/img/first_background.png');
  background-size: cover;
  height: 800px;
  padding-top: 90px;
  color: $white;

  &__logo {
    display: block;
    float: left;
  }

  &__menu {
    float: right;
    margin-bottom: 150px;
  }

  &__sign_in {
    display: inline-block;
  }

  &__sign_up_block {
    text-align: center;
  }

  &__g_play {
    display: inline-block;
  }
}