@mixin clearfix {
	&:before, &:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin breakpoint($from: 0, $to: 'infinity') {
	$media_query: 'screen';
	@if $from != 0 {
		$media_query: $media_query + ' and (min-width: #{$from})';
	}
	@if $to != 'infinity' {
		$to: $to - 1;
		$media_query: $media_query + ' and (max-width: #{$to})';
	}
	@media #{$media_query} {
		@content;
	}
}